<?xml version="1.0"?>
<config>
    <modules>
        <HeidelpayCD_Edition>
            <version>17.3.13</version>
        </HeidelpayCD_Edition>
    </modules>
    <global>
        <helpers>
            <hcd>
                <class>HeidelpayCD_Edition_Helper</class>
            </hcd>
        </helpers>
        <models>
            <hcd>
                <class>HeidelpayCD_Edition_Model</class>
                <resourceModel>hcd_resource</resourceModel>
            </hcd>
            <hcd_resource>
                <class>HeidelpayCD_Edition_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>heidelpay_transaction</table>
                    </transaction>
                    <customer>
                        <table>heidelpay_customer</table>
                    </customer>
                </entities>
            </hcd_resource>
        </models>
        <blocks>
            <hcd>
                <class>HeidelpayCD_Edition_Block</class>
            </hcd>
        </blocks>
        <resources>
            <hcd_setup>
                <setup>
                    <module>HeidelpayCD_Edition</module>
                </setup>
            </hcd_setup>
            <hcd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hcd_write>
            <hcd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hcd_read>
        </resources>
        <payment>
            <groups>
                <hcd>Heidelpay CD-Edition</hcd>
            </groups>
        </payment>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <controller_action_before>
                        <class>hcd/observer</class>
                        <method>removeWalletDataFromCheckout</method>
                    </controller_action_before>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_predispatch_checkout>
                <observers>
                    <controller_action_before>
                        <class>hcd/observer</class>
                        <method>handleWalletDataDuringCheckout</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch_checkout>
            <sales_order_shipment_save_before>
                <observers>
                    <reportShippingToHeidelpay>
                        <class>hcd/observer</class>
                        <method>reportShippingToHeidelpay</method>
                    </reportShippingToHeidelpay>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <template>
            <email>
                <hcd_payment_info>
                    <label>Heidelpay payment informations</label>
                    <file>sales/hcd_payment_info.html</file>
                    <type>html</type>
                </hcd_payment_info>
            </email>
        </template>
    </global>
    <frontend>
        <secure_url>
            <hcd_payment>hcd/</hcd_payment>
        </secure_url>
        <routers>
            <hcd>
                <use>standard</use>
                <args>
                    <module>HeidelpayCD_Edition</module>
                    <frontName>hcd</frontName>
                </args>
            </hcd>
        </routers>
        <translate>
            <modules>
                <HeidelpayCD_Edition>
                    <files>
                        <default>HeidelpayCD_Edition.csv</default>
                    </files>
                </HeidelpayCD_Edition>
            </modules>
        </translate>
        <layout>
            <updates>
                <hcd>
                    <file>hcd.xml</file>
                </hcd>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <HeidelpayCD_Edition>
                    <files>
                        <default>HeidelpayCD_Edition.csv</default>
                    </files>
                </HeidelpayCD_Edition>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hcd>
                                            <title>HeidelpayCD Edition</title>
                                        </hcd>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <hcd>
            <settings>
                <transactionmode>1</transactionmode>
                <security_sender>31HA07BC8142C5A171745D00AD63D182</security_sender>
                <user_id>31ha07bc8142c5a171744e5aef11ffd3</user_id>
                <user_pwd>93167DE7</user_pwd>
                <log>0</log>
                <invoicing>0</invoicing>
                <returnurl>onepage</returnurl>
            </settings>
        </hcd>
        <payment>
            <hcdcc>
                <group>hcd</group>
                <title>Credit Card</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171749A60D979B6E4</channel>
                <bookingmode>DB</bookingmode>
                <invioce>1</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcdcc</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdcc>
            <hcddc>
                <group>hcd</group>
                <title>Debit Card</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171749A60D979B6E4</channel>
                <bookingmode>DB</bookingmode>
                <invioce>1</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcddc</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcddc>
            <hcddd>
                <group>hcd</group>
                <title>Direct Debit - Lastschrift</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171749A60D979B6E4</channel>
                <bookingmode>DB</bookingmode>
                <insurence>0</insurence>
                <invioce>1</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcddd</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcddd>
            <hcdddsec>
                <group>hcd</group>
                <title>Direct debit secured</title>
                <active>0</active>
                <channel>31HA07BC81856CAD6D8E0B3A3100FBA3</channel>
                <bookingmode>DB</bookingmode>
                <insurence>0</insurence>
                <invioce>1</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcdDirectDebitSecured</model>
                <sort_order>1</sort_order>
                <min_amount>10</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdddsec>
            <hcdsu>
                <group>hcd</group>
                <title>SOFORT Überweisung</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171749CDAA43365D2</channel>
                <invioce>1</invioce>
                <model>hcd/payment_hcdsu</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>1</allowspecific>
                <specificcountry>BE,DE,IT,NL,AT,SI,ES</specificcountry>
            </hcdsu>
            <hcdgp>
                <group>hcd</group>
                <title>Giropay</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171740166AF277E03</channel>
                <invioce>1</invioce>
                <model>hcd/payment_hcdgp</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdgp>
            <hcdbs>
                <group>hcd</group>
                <title>Kauf auf Rechnung</title>
                <active>0</active>
                <channel>31HA07BC8142EE6D02715F4CA97DDD8B</channel>
                <model>hcd/payment_hcdbs</model>
                <invioce>1</invioce>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </hcdbs>
            <hcdpal>
                <group>hcd</group>
                <title>Pay Pal</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171749A60D979B6E4</channel>
                <bookingmode>DB</bookingmode>
                <invioce>1</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcdpal</model>
                <payment_action>Authorization</payment_action>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdpal>
            <hcdpp>
                <group>hcd</group>
                <title>Prepayment</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171749A60D979B6E4</channel>
                <invioce>1</invioce>
                <model>hcd/payment_hcdpp</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdpp>
            <hcdiv>
                <group>hcd</group>
                <title>Invoice</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171749A60D979B6E4</channel>
                <invioce>0</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcdiv</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdiv>
            <hcdivsec>
                <group>hcd</group>
                <title>Invoice secured</title>
                <active>0</active>
                <channel>31HA07BC81856CAD6D8E05CDDE7E2AC8</channel>
                <invioce>0</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcdInvoiceSecured</model>
                <sort_order>1</sort_order>
                <min_amount>10</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdivsec>
            <hcdpf>
                <group>hcd</group>
                <title>Postfinance</title>
                <active>0</active>
                <channel>31HA07BC811E8AEF9AB2733D80C21DA8</channel>
                <invioce>1</invioce>
                <model>hcd/payment_hcdpf</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>1</allowspecific>
                <specificcountry>CH</specificcountry>
            </hcdpf>
            <hcdeps>
                <group>hcd</group>
                <title>EPS</title>
                <active>0</active>
                <channel></channel>
                <invioce>1</invioce>
                <model>hcd/payment_hcdeps</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
            </hcdeps>
            <hcdide>
                <group>hcd</group>
                <title>Ideal</title>
                <active>0</active>
                <channel>31HA07BC8142C5A171744B56E61281E5</channel>
                <invioce>1</invioce>
                <model>hcd/payment_hcdide</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
            </hcdide>
            <hcdmpa>
                <group>hcd</group>
                <title>MasterPass</title>
                <active>0</active>
                <channel>31HA07BC814948E72EF669CA3BB1431F</channel>
                <invioce>1</invioce>
                <capture_on_delivery>0</capture_on_delivery>
                <model>hcd/payment_hcdmpa</model>
                <sort_order>1</sort_order>
                <min_amount>0</min_amount>
                <max_amount>0</max_amount>
                <allowspecific>0</allowspecific>
            </hcdmpa>
        </payment>
    </default>
</config>
